:root {
  --color-white-text: rgb(244,245,244);
  --color-display: rgb(49,53,63);
  --color-button-bg: rgb(190,192,177);
  --color-clear-bg: rgb(204,42,54);
  --color-clear-bg-hover: rgb(165, 34, 43);
  --color-equals-bg: rgb(235,104,65);
  --color-equals-bg-hover: rgb(192, 86, 54);
  --color-operator-bg: rgb(0,160,176);
  --color-operator-bg-hover: rgb(0, 133, 145);
  --color-number-bg: rgb(244,245,244);
  --color-number-bg-hover: rgb(219, 219, 219);
}

* {
  margin: 0;
  padding: 0;
}

.calc-container {
  width: 300px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.display-container {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  color: var(--color-white-text);
  background-color: var(--color-display);
  border-radius: 2px 2px 0 0;
}

#display {
  width: fit-content;
}

.button-container {
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
  background-color: var(--color-button-bg);
  border-radius: 0 0 2px 2px;
}

button {
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.normal {
  height: 4em;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
  height: 100%;
}

#clear {
  color: var(--color-white-text);
  background-color: var(--color-clear-bg);
}

#clear:hover {
  background-color: var(--color-clear-bg-hover);
}

#equals {
  color: var(--color-white-text);
  background-color: var(--color-equals-bg);
}

#equals:hover {
  background-color: var(--color-equals-bg-hover);
}

.operator {
  color: var(--color-white-text);
  background-color: var(--color-operator-bg);
}

.operator:hover {
  background-color: var(--color-operator-bg-hover);
}

.number {
  color: var(--color-display);
  background-color: var(--color-number-bg);
}

.number:hover {
  background-color: var(--color-number-bg-hover);
}
